// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
    transition: all 0.2s;
}

.wrap {
    max-width: rem(1140px);
    padding: 0 rem(15px);
    margin: 0 auto;
    text-align: center;
}

body > div {
    width: 100%;
}