// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/*If need import custom fonts
@font-face {
    font-family: Arsenal;
    font-weight: 400;
    src: url('../fonts/Arsenal-Regular.ttf');
}

@font-face {
    font-family: Arsenal;
    font-weight: 700;
    src: url('../fonts/Arsenal-Bold.ttf');
}
*/