// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

//Colors

.blue {
    color: $blue;
}

.throw {
    text-decoration: line-through;
}

//Type

.bold, b {
    font-weight: 700;
}

.not-bold {
    font-weight: normal;
}