// -----------------------------------------------------------------------------
// This file contains basic typography styles.
// -----------------------------------------------------------------------------


 body {
    font-family: 'Oswald', 'Arial', 'Verdana', 'Tahoma', sans-serif; //Custom fonts must be first
}

p {
    @include font-preset(rem(16px), normal, $black);
    line-height: rem(24px);
}

h1 {
    @include font-preset(rem(72px), 700, $black);
    line-height: rem(85px);
}

h2 {
    @include font-preset(rem(24px), 700, $black);
}