
.cases {

    .wrap {
        padding: rem(55px) rem(15px);
        padding-bottom: rem(55px);

        @media screen and (max-width: 570px) {
            padding-top: rem(25px);
            padding-bottom: rem(25px);
        }
    }

    &__title {
        margin-bottom: rem(45px);
    }

    &__plates {
        @include flex(row, space-around, flex-start);
        flex-wrap: wrap;

        .plates__item {
            position: relative;
            width: rem(262px);
            height: rem(262px);
            margin-bottom: rem(30px);
            margin-right: rem(20px);
            margin-left: rem(20px);
            box-shadow: $shadow-block;

            &::before {
                @include before-bg($yellow-light);
            }
        }

    }

}