
.contacts {

    .wrap {
        @include flex(row, space-between, flex-start);
        flex-wrap: wrap;
        padding-top: rem(20px);

        @media screen and (max-width: 1135px) {
            @include flex(column, center, center);
        }

        @media screen and (max-width: 570px) {
            padding-top: rem(25px);
        }
    }

    &__info {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        max-width: rem(490px);
        padding: 0 rem(65px);

        @media screen and (max-width: 1135px) {
            @include flex(column, center, center);
            margin-bottom: rem(30px);
            padding: 0;
        }
    }

    &__title {
        margin-bottom: rem(40px);
    }

    &__block {
        @include flex(column, flex-start, flex-start);
        max-width: rem(390px);
        @include font-preset(rem(24px), 700, $black);

        a {

            &::before {
                content: "";
                padding: rem(1px) rem(15px);
                margin-right: rem(15px);
            }

            &:nth-of-type(1) {
                &::before {
                    background: url("../img/phone.svg") center no-repeat;
                }
            }

            &:nth-of-type(2) {
                &::before {
                    background: url("../img/telegram.svg") center no-repeat;
                }
            }

            &:nth-of-type(3) {
                &::before {
                    background: url("../img/email.svg") center no-repeat;
                }
            }

            &:not(:nth-last-of-type(1)) {
                margin-bottom: rem(28px);
            }
    
            &[href^="tel"] {
                font-size: rem(30px);
            }
        }
    }



}