// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    @include flex(row, center, center);
    flex-wrap: wrap;
    padding: rem(25px) 0;
    @include font-preset(rem(14px), 400, $black);
    text-align: center;
    background: $grey;

    a {
        margin: rem(5px) rem(42px);
    }
}