// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    @include flex(column, flex-start, center);
    flex-wrap: wrap;
    padding: rem(25px) 0;
    @include font-preset(rem(14px), 400, $black);
    text-align: center;
    background: $grey;

    .footer__req {
        margin-bottom: rem(10px);
    }

    .footer__links {
        @include flex(row, center, center);
        flex-wrap: wrap;

        .c-link {
            margin: rem(10px) rem(30px);
        }
    }
}