
.partners {

    .wrap {
        @include flex(column, flex-start, center);
        padding: rem(75px) 0;
        padding-bottom: rem(75px);
        background: url("../img/partners-bg.png") left 7% top no-repeat;

        @media screen and (max-width: 850px) {
            @include flex(column, center, center);
            background: url("../img/partners-bg.png") left 10% top rem(100px) no-repeat;
        }

        @media screen and (max-width: 700px) {
            background: url("../img/partners-bg.png") left -20% top rem(100px) no-repeat;
        }

        @media screen and (max-width: 569px) {
            background: url("../img/partners-bg.png") left rem(-80px) top rem(10px) no-repeat;
            padding-top: rem(25px);
            padding-bottom: rem(25px);
        }

        @media screen and (max-width: 440px) {
            background: url("../img/partners-bg.png") left rem(-100px) top rem(20px) no-repeat;
        }
    }

    &__title {
        margin-bottom: rem(60px);
    }

    &__plates {
        position: relative;
        @include flex(row, center, flex-start);
        align-self: flex-end;
        flex-wrap: wrap;
        max-width: rem(517px);
        margin-bottom: rem(75px);
        margin-right: rem(165px);

        @media screen and (max-width: 850px) {
            margin: 0;
            align-self: auto;
        }

        &::before {
            content: "";
            position: absolute;
            top: rem(-25px);
            right: rem(-80px);
            width: 193%;
            height: 80%;
            background: $bg-pattern;
            z-index: -1;

            @media screen and (max-width: 850px) {
                display: none;
            }
        }

        .plates__item {
            @include flex(column, center, center);
            width: rem(226px);
            height: rem(75px);
            margin: rem(15px);
            margin-bottom: rem(15px);
            background: white;
            box-shadow: $shadow-plate;
            
            .item__text {
                font-weight: 700;
            }
        }

    }

}