// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.c-btn {
    width: 100%;
    padding: rem(22px) rem(73px);
    outline: none;
    border: rem(5px) solid $blue;
    @include font-preset(rem(18px), 700, $blue);
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: $blue;
        color: white;
    }
}