// -----------------------------------------------------------------------------
// This file contains all styles related to the form and input component.
// -----------------------------------------------------------------------------

//Grouped form

.c-form {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    width: 90%;
    max-width: rem(615px);
    padding: rem(32px) rem(30px);
    padding-bottom: rem(40px);
    background: url("../img/pattern.png");
    //box-shadow: $shadow-form;
    
    @media screen and (max-width: 475px) {
        width: 90%;
        padding: rem(20px);
        padding-bottom: rem(40px);
    }

    &__title {
        width: 100%;
        margin-bottom: rem(30px);
        //border-bottom: rem(1px) solid $grey-light;

        h4 {
            color: $orange;
            margin-bottom: rem(10px);
        }
    }

    label {
        margin-bottom: rem(10px);
        color: $black;
        @include font-preset(rem(16px), 500, $black);

        @media screen and (max-width: 405px) { //If label contains of 2 and more words
            font-size: rem(12px);
        }
    }

    input[type="submit"] {
        margin: 0 auto;
        margin-top: rem(5px);
    }

    &__block {
        @include flex(column, flex-start, flex-start);
        width: 47%;
        margin-bottom: rem(10px);

        &--grouped {
            @include flex(row, space-between, flex-start);
            width: 100%;
            margin-bottom: rem(10px);

            .block__item {
                @include flex(column, flex-start, flex-start);
                width: 100%;
            }
        }

    }

}

.c-input {
    width: 100%;
    padding: rem(18px);
    border: 1px solid $black;
    @include font-preset(rem(16px), 400, $black);
    outline: none;
    transition: 0.2s;
    box-shadow: none;

    &:active,
    &:focus {
        color: $black;
    }
}