// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//Colors

//Examples!
$black: #333333;
$yellow: #ffec00;
$blue: #2e24e8;
$green: #249c21;
$orange: #ed421e;
$red: #c53131;

$grey: #dbdbdb;

//Vendor (shadows, gradients, borders...)

$shadow-block: 0px 10px 18px 0px rgba(0, 0, 0, 0.14);
$shadow-plate: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);